body {
    font-family: "IBM Plex Sans", sans-serif;
}

footer {
    background-color: #15406a;
    color: #ffffff;
    .logo-footer {
        padding-top: 20px !important;
        img{
            width: 180px;
            height: auto;
        }
    }
    .alamat {
        width: 100%;
        margin-top: 30px;
        p {
            font-size: 13px;
        }
        @include media-breakpoint-up(lg) {
            img {
                width: 30px;
                height: auto;
                margin-left: 15px;
            }
            .icon-footer-left {
                text-align: right;
            }
        }
        img {
            width: 30px;
            height: auto;
            padding-left: 5px;
        }
    }
    .info-perusahaan {
        font-size: 13px;
        margin-top: 10px;
        .col-lg-3 {
            text-align: left;
        }
        @include media-breakpoint-up(lg) {
            .col-lg-2 {
                text-align: right;
            }
        }
    }
    .garis-footer {
        width: 100%;
        height: 2px;
        background-color: #a8d4ff;
    }
    .hak-cipta {
        p {
            font-size: 13px;
            margin-top: 10px;
        }
    }
}