.navbar {
    width: 100%;
    height: auto;
    background: var(--unnamed-color-15406a) 0% 0% no-repeat padding-box;
    background: #15406a 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    opacity: 1;
    // @include media-breakpoint-up(lg) {
    //     margin-top: 35px;
    // }
    img {
        width: 150px;
        height: 40px;
    }
    a {
        text-decoration: none;
        color: #ffffff !important;
        opacity: 1;
        font-size: 15px;
    }
    @include media-breakpoint-up(lg) {
        .nav-item::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #ffffff;
            transition: width 0.3s;
        }
        .nav-item:hover::after {
            width: 100%;
            transition: width 0.3s;
        }
        .active::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: #ffffff;
            transition: width 0.3s;
        }
        .nav-item-left {
            padding-left: 25px;
        }
        .nav-item-right {
            padding-right: 50px;
        }
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky+.jumbotron {
        padding-top: 50px;
    }
}