// jumbotron
.jumbotron {
    background-image: url("/images/home/jumbotron-bg.jpg");
    background-size: cover;
    opacity: 1;
    width: 100%;
    height: 620px;
    color: #ffffff;
    .display-4 {
        text-align: left;
        font-weight: 200;
        letter-spacing: 1.44px;
        opacity: 1;
        margin-top: 100px;
    }
}

// Navigation Flow
.nav-flow {
    height: auto;
    width: 100%;
    margin-top: -33px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #002d58;
    a {
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }
    a:hover {
        color: #15406a;
    }
    border-bottom: 1px solid #c9c7c7;
}

// benefi why bizhub
.benefit {
    text-align: center;
    .benefit-bg-1 {
        @include media-breakpoint-up(lg) {
            width: 100%;
            height: 550px;
            background-image: url("/images/home/benefit-bg1.png");
            background-size: cover;
            margin-left: -115px;
            margin-top: -80px;
        }
    }
    .benefit-bg-2 {
        background-color: rgba(255, 255, 255, 0.95);
        @include media-breakpoint-up(lg) {
            margin-top: -450px;
            margin-bottom: -550px;
            // @include media-breakpoint-up(md){
            //     background-image: url('/images/home/benefit-bg3.png');
            // }
        }
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .benefit-bg-2 {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    .benefit-bg-3 {
        z-index: -1;
        @include media-breakpoint-up(lg) {
            width: 100%;
            height: 650px;
            background-image: url("/images/home/benefit-bg3.png");
            background-size: cover;
            margin-left: 769px;
        }
    }
}

// flow tenant
.flow-tenant {
    text-align: center;
    background-image: url("/images/home/benefit-bg1.jpg");
    color: #ffffff;
    h1 {
        padding-top: 50px;
    }
    .alur-tenant {
        margin-top: 40px;
        padding-bottom: 50px;
        .konten-tenant {
            padding-right: 40px;
            padding-left: 40px;
        }
        img {
            width: 130px;
            height: auto;
            border-radius: 100%;
        }
    }
}

// Produk Terpopuler
.produk {
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }
    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    // section produk
    .section-produk {
        margin-top: 100px !important;
        .btn-primary {
            margin-top: 10px;
            background: var(--unnamed-color-15406a) 0% 0% no-repeat padding-box;
            background: #15406a 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #0000003b;
            border-radius: 6px;
            opacity: 1;
            font-size: 12px;
        }
    }
    // product details
    .produk-details {
        .card-img-top {
            width: 100%;
            height: 240px;
        }
        p {
            font-size: 12px;
        }
        .bg-info {
            background-color: #15406a !important;
        }
        .produk-info {
            margin-top: 20px !important;
        }
        .data-produk {
            line-height: 10% !important;
        }
        .button-detail-produk {
            a {
                font-size: 12px;
            }
            .btn-outline-secondary {
                width: 111px;
                height: 30px;
            }
        }
        .lokasi-produk {
            margin-top: -2px;
            img {
                width: 13px;
                height: auto;
                margin-left: 36px;
            }
            a {
                font-size: 12px;
                color: #000;
            }
        }
    }
}

// berita populer
.berita {
    .card {
        //  Add shadows to create the "card" effect
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background-color: #15406a;
    }
    //   On mouse-over, add a deeper shadow
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    // section berita
    .section-berita {
        margin-top: 80px !important;
        .btn-primary {
            margin-top: 10px;
            background: var(--unnamed-color-15406a) 0% 0% no-repeat padding-box;
            background: #15406a 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #0000003b;
            border-radius: 6px;
            opacity: 1;
            font-size: 12px;
        }
    }
    // berita details
    .card-img-top {
        width: 100%;
        height: 240px;
    }
    .card-body {
        .judul-berita {
            color: #ffffff;
            font-size: 11px;
        }
        h2 {
            font-size: 20px;
            color: #ffffff;
            font-weight: bold;
        }
    }
    .buttonnext {
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }
        a:hover {
            background-color: #ddd;
            color: black;
        }
        .previous {
            background-color: #f1f1f1;
            color: black;
        }
        .next {
            background-color: #15406a;
            color: white;
        }
        .round {
            border-radius: 50%;
        }
        display: flex;
        justify-content: center;
    }
}

// footer
footer {
    background-color: #15406a;
}