.background-datbase {
    background-color: #12446e !important;
    color: white;
    padding-top: 30px;
    a {
        color: white;
    }
    nav {
        a {
            color: #12446e;
        }
        span {
            background-color: #15406a;
        }
    }
}

.footer-bottom {
    margin-top: -25px;
}