.data-pencarian {
    background-color: #002d58;
    color: #ffffff;
    height: 630px;
    .dropdown {
        .button {
            width: 300px;
            height: auto;
        }
    }
    .icon-produk {
        background-image: #15406a;
        width: 102px;
        height: 102px;
        padding: 15px 15px 15px 15px;
        img {
            width: 50px;
            height: auto;
        }
    }
    .icon-produk-content {
        p {
            font-size: medium;
            padding: 30px 20px 20px 20px;
        }
    }
}

.produk {
    .button-produk {
        .btn-primary {
            text-align: center !important;
            margin-top: 10px;
            background: var(--unnamed-color-15406a) 0% 0% no-repeat padding-box;
            background: #15406a 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #0000003b;
            border-radius: 6px;
            opacity: 1;
            font-size: 12px;
        }
    }
    h2 {
        font-size: 20px;
        color: #15406a;
        font-weight: bold;
    }
}

@include media-breakpoint-up(lg) {
    .produk-inpage-produk {
        margin-top: -230px;
    }
    .data-pencarian {
        height: 500px;
    }
}