.background-publikasi {
    background-color: #12446e !important;
    .background-datbase {
        .publikasi-module {
            background-color: white;
            color: #002d58;
            a {
                color: #002d58;
            }
        }
    }
}

.background-datbase {
    .publikasi-module {
        background-color: white;
        color: #002d58;
        a {
            color: #002d58;
        }
    }
}

.publikasi-module {
    .btn-success {
        color: white !important;
    }
}

.footer-bottom {
    margin-top: -25px;
}